root: true
parser: 'vue-eslint-parser'
parserOptions:
    parser: '@typescript-eslint/parser'
    ecmaVersion: 2020
    sourceType: 'module'
plugins:
    - '@typescript-eslint'
extends:
    - 'eslint:recommended'
    - '@vue/typescript/recommended'
    - 'plugin:@typescript-eslint/eslint-recommended'
    - 'plugin:@typescript-eslint/recommended'
    - 'plugin:vue/vue3-recommended'
    - 'plugin:vue/base'
