:root {
    color-scheme: dark;

    --map-path-base-color: #000;
    --map-path-stroke-color: #224;
    --map-path-hover-color: #fbf300;
    --map-path-hover-stroke-color: #5d00ff;

    --map-text-province-color: #ff08;
    --map-text-color: #fff8;
    --map-text-stroke-color: #2248;

    --map-tips-border-color: #0d3e67;
    --map-tips-bg-color: linear-gradient(72deg, #110c4d56, #0d3e67);
}